.abmfitprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; /* Ancho del contenedor */
    height: 100%; /* Alto del contenedor */
    text-align: center; /* Centra el texto horizontalmente */

}
