.abmfitprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw; /* Ancho del contenedor */
    height: 95vh; /* Alto del contenedor */
    text-align: center; /* Centra el texto horizontalmente */

}
