
.espacio-imagen {
  /* Otros estilos... */
  text-decoration: none; /* Evita que el texto aparezca tachado */
  background-color: black;
  color: white;
}
.tarjeta.volteada .espacio-imagen {
  opacity: 1; /* Muestra el contenido cuando la tarjeta está volteada */
}
