.sidebar {
    border: 2px solid #808080;
    border-radius: 10px;
    min-width: 100px; /* Ancho inicial */
    height: 100vh;
    display: flex; /* Utilizar flexbox */
    flex-direction: column; /* Alinear elementos en columna */
}

.initialFilterFooter {
 border-top: solid 1px white;
 text-align: center;
    margin-top: auto; /* Colocar al final del contenedor verticalmente */
}


.initialFilterHeader{
    border-bottom: 2px solid #808080;
    text-align: center;
    
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px; 
    }
}



/* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .sidebar {
        min-width: 140px; /* Reducir aún más el ancho de la barra lateral */
        }

    /* Opcional: ajustar el tamaño del texto en la cabecera para dispositivos móviles */
    .initialFilterHeader {
        font-size: 16px; /* Ajustar el tamaño del texto en la cabecera para dispositivos móviles */
    }

    /* Opcional: ajustar el espaciado del contenido principal */
    .no-data,
    .screen {
        padding: 10px; /* Ajustar el espaciado del contenido principal */
    }
    .narrowAccordionBody {
        max-width: 2000px; /* Ajusta el ancho máximo según tus preferencias */
        font-size: 8px;
        white-space: nowrap; /* Evita que el texto se envuelva y lo fuerza a mostrarse horizontalmente */
        overflow: scroll; /* Oculta cualquier texto que desborde el contenedor */
        text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto que desborde */
    }
.divAcordeon {
    max-width: 500px;

}

.divaviso{font-size: 10px;
  
}
.aviso{
    font-size: 10px;
}

.divSkills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}
    /* Opcional: aplicar estilos específicos para los gráficos en dispositivos móviles */
    .skills {
        /* Aquí puedes aplicar estilos específicos para los gráficos en dispositivos móviles */
    }
}

  /* Estilos para tabletas */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Agrega estilos específicos para tabletas aquí */
  }
  
  /* Estilos para dispositivos de escritorio */
  @media (min-width: 1025px) {
    /* Agrega estilos específicos para dispositivos de escritorio aquí */
  }
  
  /* Estilos para dispositivos con resoluciones de alta DPI */
  @media (min-resolution: 192dpi) {
    /* Agrega estilos específicos para dispositivos con alta DPI aquí */
  }
  
  /* Estilos para dispositivos con resoluciones muy altas */
  @media (min-width: 2561px) {
    /* Agrega estilos específicos para dispositivos con resoluciones muy altas aquí */
  }
  