.sidebar {
    border: 2px solid #808080;
    border-radius: 10px;
    min-width: 100px; /* Ancho inicial */
    height: 100vh;
    display: flex; /* Utilizar flexbox */
    flex-direction: column; /* Alinear elementos en columna */
}

.initialFilterFooter {
 border-top: solid 1px white;
 text-align: center;
    margin-top: auto; /* Colocar al final del contenedor verticalmente */
}


.initialFilterHeader{
    border-bottom: 2px solid #808080;
    text-align: center;
    
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px; 
    }
}

.padrepantallafiltro{display: flex;}

/* Estilos para dispositivos móviles */
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .padrepantallafiltro{display: block;}
    
}
    

  /* Estilos para tabletas */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Agrega estilos específicos para tabletas aquí */
  }
  
  /* Estilos para dispositivos de escritorio */
  @media (min-width: 1025px) {
    /* Agrega estilos específicos para dispositivos de escritorio aquí */
  }
  
  /* Estilos para dispositivos con resoluciones de alta DPI */
  @media (min-resolution: 192dpi) {
    /* Agrega estilos específicos para dispositivos con alta DPI aquí */
  }
  
  /* Estilos para dispositivos con resoluciones muy altas */
  @media (min-width: 2561px) {
    /* Agrega estilos específicos para dispositivos con resoluciones muy altas aquí */
  }
  