.menu {
  position: fixed; 
  bottom: 0;       
  left: 0;         
  height: 80vh;   
  width: 20%;    
  backdrop-filter: blur(19px) saturate(183%);
  -webkit-backdrop-filter: blur(19px) saturate(183%);
  background-color: rgba(17, 25, 40, 0.9);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  z-index: 100; 
}

.enlaces {
  flex-grow: 1;
  overflow-y: auto; 
  overflow-x: hidden;
}

.addNewSectionButton {
  position: sticky; 
  bottom: 10px;
  margin-bottom: 10%;
  margin-right: 10%;
  width: 80%;
  left: 10%;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  z-index: 1;
}

.addNewSectionButton:hover {
  background-color: #0056b3;
}
